@media only screen and (max-width: 750px) {
  .site-pusher, .site-container { height: 100%; }
  .site-container { overflow: hidden; }
  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px); 
  }
