body {background-image: url(Galaxy.jpg);text-align:center;}
.container{width:800px;margin:0 auto;}
.block{float:left;}
.block:after{clear:left;}
.menu{height:auto;width:100%;}
.page{height:auto;width:600px;}
.sidebar{height:aito;width:200px;}

@media (max-width: 3840px) {
	/* code pour une largeur <680px */
	.container{width:95%;}
	.page{width:100%;}
	.sidebar{display:none;}
}

@media (min-width: 680px) and (max-width: 959px) {
	/* code pour une largeur comprise entre 680 et 959px */
	.container{width:680px;}
	.page{width:530px;}
	.sidebar{width:150px;background:yellow;}
}
	

/*#site {
	width: 1000px;
	margin: auto;
	background-color: lightblue;
}*/



.section,
aside {
  margin: 1.858736059%; /*  10px ÷ 538px = .018587361 */
}
section {
  float: left;
  width: 63.197026%;    /* 340px ÷ 538px = .63197026 */   
}
aside {
  float: right;
  width: 29.3680297%;  /* 158px ÷ 538px = .293680297 */
}


#banner1 {
	display: block;
	background-color: blue;
	height: 50px;
	width: 100%;
}

#banner1 p {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	top: 7px;
	margin: 0;
	text-align: center;
}

#menu {
	min-width: 500px;
	width: 100%;
	height: 100px;
	position: relative;
	background-color: blue;
}

#menu ul {
	float: left;
	left: 50%;
	position: relative;
	padding-top: 15px;
	margin-left: -60px;
}

#menu ul li {
	margin-left: 20px;
	float: left;
	list-style-type: none;
	position: relative;
	left: -50%;
}

#menu ul li a {
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	background-color: blue;
	height: 30px;
	width: 100px;
	color: black;
	text-decoration: none;
}

#menu ul li a:hover {
	color: white;
	background-color: orange;
}

#banner2 {
	display: block;
	background-color: blue;
	height: 50px;
	width: 100%;
}

#contenuprincipal {
	display: block;
	width: 900px;
	margin: auto;
}

#footer {
	text-align: center;
	display: block;
	background-color: blue;
	height: 60px;
}

#footer p {
	color: #164a29;
	font-weight: bold;
	position: relative;
	top: 18px;
}
/* @media Rule */
@media all and (max-width: 1024px) {...}

/* @import Rule */
@import url(styles.css) all and (max-width: 1024px) {...}

