html,body {
	font-family:Roboto ;
	background-image: url(Galaxy.jpg);
	text-align:center;
	width:100%;
	font-size:16px;
	line-height:1.4;
	height:100%;
	margin:0;
	padding:0
	
}

	
/*#site-container {
	width: 100%;
	margin: auto;
	background-color: lightblue;
}*/

#banner1 {
	display: block;
	background-color: blue;
	height: 50px;
	width: 100%;
}

#banner1 p {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	top: 7px;
	margin: 0;
	text-align: center;
}

#menu {
	min-width: 500px;
	width: 100%;
	height: 100px;
	position: relative;
	background-color: blue;
}

#menu ul {
	float: left;
	left: 50%;
	position: relative;
	padding-top: 15px;
	margin-left: -60px;
}

#menu ul li {
	margin-left: 20px;
	float: left;
	list-style-type: none;
	position: relative;
	left: -50%;
}

#menu ul li a {
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	background-color: blue;
	height: 30px;
	width: 100px;
	color: black;
	text-decoration: none;
}

#menu ul li a:hover {
	color: white;
	background-color: orange;
}

#banner2 {
	display: block;
	background-color: blue;
	height: 50px;
	width: 100%;
}

#container {
	display: block;
	width: 900px;
	margin: auto;
}

#footer {
	text-align: center;
	display: block;
	background-color: blue;
	height: 60px;
}

#footer p {
	color: #164a29;
	font-weight: bold;
	position: relative;
	top: 18px;
}
@media only screen and (max-width: 750px) {
  .site-pusher, .site-container { height: 100%; }
  .site-container { overflow: hidden; }
  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px); 
  }

  .site-content {
    position: absolute;
    top: 66px; /* La hauteur du header */
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* Inertie sur iOS */
  }

  .header { position: static; }

  /* L'icône hamburger, en utilisant le box-shadow */
  .header__icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer; }
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }

  /* Le menu collé à gauche est masqué grâce à un transform */
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #2a378b;
    width: 450px;
    transform: translateX(450px); 
  }
    /* Un lien par ligne */
    .menu a {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid #303f9f; 
    }
}
 /* Toujours dans le @media */
  .with--sidebar .site-pusher {
    transform: translateX(-450px); 
  }
  /* On met un cache par dessus le site-content pour bloquer le scroll et permettre le retour au site */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
  }

