html,body {
	font-family:Roboto ;
	background-image: url(Galaxy.jpg);
	text-align:center;
	width:100%;
	font-size:16px;
	line-height:1.4;
	height:100%;
	margin:0;
	padding:0
	
}

	
/*#site-container {
	width: 100%;
	margin: auto;
	background-color: lightblue;
}*/

#banner1 {
	display: block;
	background-color: blue;
	height: 50px;
	width: 100%;
}

#banner1 p {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	top: 7px;
	margin: 0;
	text-align: center;
}

#contenuprincipal {
	display: block;
	width: 900px;
	margin: auto;
}

#footer {
	text-align: center;
	display: block;
	background-color: blue;
	height: 60px;
}

#footer p {
	color: #164a29;
	font-weight: bold;
	position: relative;
	top: 18px;
}
